<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>study.day02.AppInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ParamTest</servlet-name>
        <servlet-class>study.day01.ParamServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://www.naver.com</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParamTest</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/222</url-pattern>
    </servlet-mapping>
</web-app>